<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Log message format -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <!-- Ned appender to write to file -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- Name of the file where the log messages are written -->
    <file>myApp.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="com.example.ec.explorecali.domain" level="DEBUG" >
    <appender-ref ref="FILE" />
  </logger>
  <logger name="com.example.ec.explorecali.services" level="DEBUG" >
    <appender-ref ref="FILE" />
  </logger>
<logger name="com.example.ec.explorecali" level="DEBUG" >
    <appender-ref ref="FILE" />
  </logger>
<root level="info">
   <appender-ref ref="STDOUT" />
   </root>

 

  <!-- Setting the root level of logging to INFO -->
  
</configuration>